<div templateName="簽" style="width:210mm; position:relative; font-family:  standard, kaiu, 標楷體; margin: 10px auto; text-align:justify" >
    <div id="od" data-twedr="文稿" data-editor="weditor">
      <div data-twedr="文稿頁面" data-class="Document" style="color: black; background-color:white;" data-page-width="210mm" data-page-content-height="247mm" data-page-head-height="25mm" data-page-footer-height="25mm">
        <div data-twedr="page" data-class="Page" style="box-shadow: 1px 1px 10px rgba(0,0,0,.3); background-color: white; width: 210mm; position: relative; overflow: hidden; ">
          <div data-twedr="header" data-class="PageHeader" style="position: relative; width: 100%; height: 25mm;">
            <span></span>
            <span data-twedr="表單類別" style="font-size: 24pt;top: 10mm;margin: auto;/* left: 50%; */position: absolute;/* right: 50%; */left: 90mm;" id="EditorHTMLElement_1525160193365_14">請假單</span>
          </div>
          <article id="ArticleBlock" data-class="ArticleBlock"  style="min-height:247mm;width: 80%;box-shadow: none; border: 1px solid; margin: auto;">
            <div style="left:0mm;top:10mm;width:100%;height:15mm;position:absolute;">
              <div data-twedr="擬辦方式" style="font-size: 12pt;width: 100mm;display: inline-block;">
                <div style="display:inline-block;margin-left: 27mm;">
                  <span id="擬辦方式" data-class="InputSelectBlock" data-twedr="擬辦方式" data-label-field="text" data-data-field="value"></span>
                </div>
              </div>
            </div>
            <section style="padding: 1mm; font-size: 16pt; border-bottom: 1px solid;">
              <div style="margin-top:0.5mm">
                <span>填單人員：</span>
                <span id="填單人員" data-class="InputSelectBlock" data-twedr="填單人" data-label-field="text" data-data-field="text"></span>
              </div>
            </section>
            <section style="padding: 1mm; font-size: 16pt; border-bottom: 1px solid;">
              <div style="margin-top:0.5mm">
                <span>填單日期：</span>
                <span id="填單日期" data-class="InputSelectBlock" data-twedr="填單日期" data-label-field="text" data-data-field="text"></span>
              </div>
            </section>              
            <section style="padding: 1mm; font-size: 16pt; border-bottom: 1px solid;">
              <div style="margin-top:0.5mm">
                <span>請假人員：</span>
                <span id="請假人員" data-class="InputSelectBlock" data-twedr="加班人" data-label-field="text" data-data-field="text"></span>
              </div>
            </section>    
            <section style="padding: 1mm; font-size: 16pt; border-bottom: 1px solid;">
              <div style="margin-top:0.5mm">
                <span>請假日期：</span>
                <span id="請假日期" data-class="InputSelectBlock" data-twedr="請假日期" data-label-field="text" data-data-field="text"></span>
              </div>
            </section>
            <section style="padding: 1mm; font-size: 16pt; border-bottom: 1px solid;">
              <div style="margin-top:0.5mm">
                <span>開始時間：</span>
                <span id="開始時間" data-class="InputSelectBlock" data-twedr="開始時間" data-label-field="text" data-data-field="text"></span>
                <span>結束時間：</span>
                <span id="結束時間" data-class="InputSelectBlock" data-twedr="結束時間" data-label-field="text" data-data-field="text"></span>                  
              </div>
            </section>                
            <section style="padding: 1mm; font-size: 16pt; border-bottom: 1px solid;">
              <div style="margin-top:0.5mm">
                <span>請假時數：</span>
                <span id="請假時數" data-class="InputSelectBlock" data-twedr="請假時數" data-label-field="text" data-data-field="text"></span>
              </div>
            </section>
            <section data-class="Paragraph" data-twedr="段落" style="padding: 1mm;font-size: 0px;width: 160mm;">
              <div data-class="ParagraphDiv" contenteditable="false">
                <span data-class="ParagraphName" data-twedr="段名" style="display:inline-block; font-size: 16pt;line-height: 24pt; float: left;" contenteditable="false">備註</span>
                <span data-class="ParagraphSuffix" style="display:inline-block; font-size: 16pt; line-height: 24pt; float: left;" contenteditable="false">：</span>
                <div data-class="ParagraphTextBlock" id="備註文字" contenteditable="false" data-auto-list="Numbered" style="display: table-cell; font-size: 16pt; line-height: 24pt; outline: none; min-height: 7mm; min-width: 50mm;">
                  <span data-class="TextBlock" data-twedr="文字"></span>
                </div>
              </div>
            </section>                              
          </article>
          <div data-twedr="footer" data-class="PageFooter" style="width: 100%; height: 25mm;">
            <div id="條碼" data-twedr="條碼" data-first-page="true" style="position:absolute;right:35mm;bottom: 5mm;"></div>
            <div data-twedr="頁碼" align="center" style="width: 100%; position:absolute;text-align: center;bottom: 10mm;"></div>
          </div>
        </div>
      </div>
      <div data-class="Data" data-twedr="異動紀錄" style="display:none;"></div>
      <div data-class="Data" data-twedr="行文機關資訊" style="display:none;"></div>
    </div>
  </div>